apiVersion: v1
kind: ConfigMap
metadata:
  name: ex306-config-map
  namespace: project
data:
  image_file_path: "/usr/src/app/files/image.png"
  image_resource_url: "https://picsum.photos/1200"
  init-db.sql: |-
    create table TODO
    (
        id      int,
        todo varchar
    );
  DB_USER: "postgres"
  DB_PASSWORD: "postgres_pass"
  DB_URL: "ex306-postgres-svc/"
  add-todo.sh: |-
    #!/usr/bin/env bash
    set -euo pipefail
    URL="https://en.wikipedia.org/wiki/Special:Random"
    random_url="$(
    curl -sI "$URL" \
    | awk 'BEGIN{IGNORECASE=1} /^Location:/ {sub(/\r$/, "", $2); print $2}' | tr '\n' ' '
    )"
    export PGPASSWORD='postgres_pass';
    psql postgres://ex306-postgres-svc:5432 -U postgres -c "INSERT INTO TODO(TODO) VALUES('Read $random_url')"
    echo "Added todo to read $random_url"
