apiVersion: v1
kind: ConfigMap
metadata:
  name: ex208-config-map
  namespace: project
data:
  image_file_path: "/usr/src/app/files/image.png"
  image_resource_url: "https://picsum.photos/1200"
  backend_url: "http://localhost:8081"
  init-db.sql: |-
    create table TODO
    (
        id      int,
        todo varchar
    );
  DB_USER: "postgres"
  DB_PASSWORD: "postgres_pass"
  DB_URL: "ex208-postgres-svc/"
