name: Release application

on:
  push:
    paths:
      - 'ex409/**'
  workflow_dispatch:

env:
  TODO_APP_IMAGE_NAME: devopswk8s-ex409-todo-app
  TODO_BACKEND_IMAGE_NAME: devopswk8s-ex409-todo-backend
  BROADCASTER_APP_IMAGE_NAME: devopswk8s-ex409-broadcaster-app
  SERVICE: ex409
  BRANCH: ${{ github.ref_name }}
  DIRECTORY: "ex409"

jobs:
  build-publish-deploy:
    name: Build, Publish and Release
    runs-on: ubuntu-latest
    environment:
      name: dwk-env
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: 'Set namespace'
        run: |
          if [[ "$github.ref_type" = "tag" ]]
          then
            echo "NAMESPACE=project-prod" >> $GITHUB_ENV
            echo "OVERLAY_PATH=prod" >> $GITHUB_ENV
            echo "tagged prod"
            echo "$github.ref_type"
          else
            if [[ "$BRANCH" = "main" ]]
            then
              echo "NAMESPACE=project-staging" >> $GITHUB_ENV
              echo "OVERLAY_PATH=staging" >> $GITHUB_ENV
              echo "$BRANCH"
              echo "branch main"
              echo "$github.ref_type"
            else
              echo "NAMESPACE=$BRANCH-staging" >> $GITHUB_ENV
              echo "OVERLAY_PATH=staging" >> $GITHUB_ENV
              echo "$BRANCH"
              echo "branch stage"
              echo "$github.ref_type"
            fi
          fi
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_TOKEN }}
      - name: 'Form the todo app image name'
        run: echo "TODO_APP_IMAGE_TAG=${{ secrets.DOCKER_HUB_USERNAME }}/$TODO_APP_IMAGE_NAME:$BRANCH-$GITHUB_SHA" >> $GITHUB_ENV
      - name: 'Form the todo backend image name'
        run: echo "TODO_BACKEND_IMAGE_TAG=${{ secrets.DOCKER_HUB_USERNAME }}/$TODO_BACKEND_IMAGE_NAME:$BRANCH-$GITHUB_SHA" >> $GITHUB_ENV
      - name: 'Form the broadcaster app image name'
        run: echo "BROADCASTER_APP_IMAGE_TAG=${{ secrets.DOCKER_HUB_USERNAME }}/$BROADCASTER_APP_IMAGE_NAME:$BRANCH-$GITHUB_SHA" >> $GITHUB_ENV
      - name: 'Setup java23'
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '23'
      - name: Build images
        run: |
          cd $DIRECTORY
          bash build.sh "1" $TODO_APP_IMAGE_TAG $TODO_BACKEND_IMAGE_TAG $BROADCASTER_APP_IMAGE_TAG
      - name: Publish images
        run: |
          docker push $TODO_APP_IMAGE_TAG
          docker push $TODO_BACKEND_IMAGE_TAG
          docker push $BROADCASTER_APP_IMAGE_TAG
      - name: Set up Kustomize
        uses: imranismail/setup-kustomize@v2.1.0
      - name: Deploy
        run: |-
          cd $DIRECTORY/manifests/overlays/$OVERLAY_PATH
          kustomize edit set namespace $NAMESPACE
          kustomize edit set image PROJECT/TODO_APP_IMAGE=$TODO_APP_IMAGE_TAG
          kustomize edit set image PROJECT/TODO_BACKEND_IMAGE=$TODO_BACKEND_IMAGE_TAG
          kustomize edit set image PROJECT/BROADCASTER_APP_IMAGE=$BROADCASTER_APP_IMAGE_TAG
      - name: Commit kustomization.yaml to GitHub
        uses: EndBug/add-and-commit@v9
        with:
          add: '${{ env.DIRECTORY }}/manifests/overlays/${{ env.OVERLAY_PATH }}/kustomization.yaml'
          message: New version released ${{ github.sha }}
