name: Release application

on:
  push:
    paths:
      - 'ex409/**'
  workflow_dispatch:

env:
  TODO_APP_IMAGE_NAME: devopswk8s-ex409-todo-app
  TODO_BACKEND_IMAGE_NAME: devopswk8s-ex409-todo-backend
  BROADCASTER_APP_IMAGE_NAME: devopswk8s-ex409-broadcaster-app
  SERVICE: ex409
  BRANCH: ${{ github.ref_name }}
  DIRECTORY: "ex409"

jobs:
  build-publish-deploy:
    name: Build, Publish and Release
    runs-on: ubuntu-latest
    environment:
      name: dwk-env
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: 'Set namespace'
        run: |
          if [[ "$BRANCH" = "main" ]]
          then
            echo "NAMESPACE=project-staging" >> $GITHUB_ENV
            echo "$BRANCH"
          else
            echo "NAMESPACE=$BRANCH-staging" >> $GITHUB_ENV
            echo "$BRANCH"
          fi
