name: Release application

on:
  push:
    paths:
      - 'ex306/**'
    branches:
      - '**'
    tags-ignore:
      - '**'
  workflow_dispatch:

env:
  PROJECT_ID: ${{ secrets.GKE_PROJECT }}
  GKE_CLUSTER: dwk-cluster
  GKE_ZONE: europe-north1-b
  REGISTRY: europe-north1-docker.pkg.dev
  REPOSITORY: dwk-docker-repo
  TODO_APP_IMAGE_NAME: devopswk8s-ex306-todo-app
  TODO_BACKEND_IMAGE_NAME: devopswk8s-ex306-todo-backend
  SERVICE: ex306
  BRANCH: ${{ github.ref_name }}
  DIRECTORY: "ex306"

jobs:
  build-publish-deploy:
    name: Build, Publish and Deploy
    runs-on: ubuntu-latest
    environment:
      name: dwk-env
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - uses: google-github-actions/auth@v2
        with:
          credentials_json: '${{ secrets.GKE_SA_KEY }}'
      - name: 'Set up Cloud SDK'
        uses: google-github-actions/setup-gcloud@v2
      - name: 'Use gcloud CLI'
        run: gcloud info
      - run: gcloud auth configure-docker $REGISTRY --quiet
      - name: 'Get GKE credentials'
        uses: 'google-github-actions/get-gke-credentials@v2'
        with:
          cluster_name: '${{ env.GKE_CLUSTER }}'
          project_id: '${{ env.PROJECT_ID }}'
          location: '${{ env.GKE_ZONE }}'
      - name: 'Form the todo app image name'
        run: echo "TODO_APP_IMAGE_TAG=$REGISTRY/$PROJECT_ID/$REPOSITORY/$TODO_APP_IMAGE_NAME:$BRANCH-$GITHUB_SHA" >> $GITHUB_ENV
      - name: 'Form the todo backend image name'
        run: echo "TODO_BACKEND_IMAGE_TAG=$REGISTRY/$PROJECT_ID/$REPOSITORY/$TODO_BACKEND_IMAGE_NAME:$BRANCH-$GITHUB_SHA" >> $GITHUB_ENV
      - name: 'Setup java23'
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '23'
      - name: Build images
        run: |
          cd $DIRECTORY
          bash build.sh "1" $TODO_APP_IMAGE_TAG $TODO_BACKEND_IMAGE_TAG
      - name: Publish images
        run: |
          docker push $TODO_APP_IMAGE_TAG
          docker push $TODO_BACKEND_IMAGE_TAG
      - name: Set up Kustomize
        uses: imranismail/setup-kustomize@v2.1.0
      - name: Deploy
        run: |-
          cd $DIRECTORY
          kustomize edit set image PROJECT/TODO_APP_IMAGE=$TODO_APP_IMAGE_TAG
          kustomize edit set image PROJECT/TODO_BACKEND_IMAGE=$TODO_BACKEND_IMAGE_TAG
          kustomize build . | kubectl apply -f -
          kubectl rollout status deployment $SERVICE-todo-app -nproject
          kubectl rollout status deployment $SERVICE-todo-backend -nproject
          kubectl get services -o wide -nproject